.logo-img {
  width: 400px;
  height: 400px;
}
.btn {
    position: relative;
    top: 100px;
    width: 200px;
    height: 40px;
    border-radius: .25rem;
    color: rgb(74, 121, 239);
    background-color: white;
    border: 0.0px solid rgb(237, 233, 227);
    margin: 20px;
    text-size-adjust: 40px;
}
.btn:hover {
    border: 1px solid rgb(74, 121, 239);
}
p {
    color: white;
  }
