<!-- <p class="line-1 anim-typewriter">Welcome to Simply Exec.</p> -->
<!-- <p class="typed-out">Welcome to Simply Exec.</p> -->
<img src="/../../assets/images/logo.png" alt="Logo" class="logo-img">

<div class="container-sm">
  
  <button class="btn btn-primary" [routerLink]="['contract']">Contract</button>
  <button class="btn btn-primary" [routerLink]="['customer']">Customer</button>
  <button class="btn btn-primary" [routerLink]="['vendor']">Vendor</button>
  <button class="btn btn-primary" [routerLink]="['payment']">Payment</button>
</div>

