<button class="btn-back" type="button" routerLink="../">Back</button>
<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- ContractId Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ContractId</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>
    
    <!-- CustomerId Column -->
    <ng-container matColumnDef="customerId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>CustomerId</th>
      <td mat-cell *matCellDef="let row">{{row.customerId}}</td>
    </ng-container>

    <!-- VendorId Column -->
    <ng-container matColumnDef="vendorId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>VendorId</th>
      <td mat-cell *matCellDef="let row">{{row.vendorId}}</td>
    </ng-container>

    <!-- CustomerPaymentStatus Column -->
    <ng-container matColumnDef="customer_payment_status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>CustomerPaymentStatus</th>
      <td mat-cell *matCellDef="let row"><button class="change-button">{{row.customer_payment_status}}</button></td>
    </ng-container>
    
    <!-- VendorDeliveryStatus Column -->
    <ng-container matColumnDef="vendor_delivery_status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>VendorDeliveryStatus</th>
      <td mat-cell *matCellDef="let row"><button class="change-button">{{row.vendor_delivery_status}}<span class="caret"></span></button></td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let row"><button class="change-button">
        {{row.status}}</button></td>
    </ng-container>

    <!-- CreatedAt Column -->
    <ng-container matColumnDef="created_at">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>CreatedAt</th>
      <td mat-cell *matCellDef="let row">{{row.created_at | timestamp}}</td>
    </ng-container>

    <!-- UpdatedAt Column -->
    <ng-container matColumnDef="updated_at">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>UpdatedAt</th>
      <td mat-cell *matCellDef="let row">{{row.updated_at | timestamp}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource.data.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[10]"
      aria-label="Select page">
  </mat-paginator>
</div>
