.container-xl {
    background-color: white;
    /* background-color: rgb(191, 219, 243);  */
    padding: 50px 20px 50px 20px; 
    border-radius: .35rem;
    position: relative;
    top: 250px;
    width: 600px;
    padding-top: 40px;
    height: 120px;
    justify-content: center;
}
.container-xl .btn {
    margin-top: auto;
    border: 0.0px ;
    width: 150px;
    /* background-color: white; */
    background-color: rgb(31, 140, 235);
    height: 40px
}

.container-xl .btn:hover {
    border: 0.25px solid white;
}
