.container-xl {
    background-color: white;
    /* background-color: rgb(191, 219, 243);  */
    padding: 50px 20px 50px 20px; 
    border-radius: .35rem;
    position: relative;
    top: 250px;
    width: 600px;
    padding-top: 40px;
    height: 120px;
    justify-content: center;
}
.container-xl .btn {
    margin-top: auto;
    border: 0.0px ;
    width: 150px;
    /* background-color: white; */
    background-color: rgb(31, 140, 235);
    height: 40px
}

.container-xl .btn:hover {
    border: 0.25px solid white;
}

.btn-back {
    border-radius: 0.25rem;
    border: 0.0rem;
    width: 120px;
    height: 40px;
    color: rgb(0 136 255);
    padding-left: 10px;
    position: relative;
    top: 245px;
    right: 240px;
}
.btn-back:hover {
    border: 1px solid rgb(92, 92, 236);
}
.btn-back:focus {
    border: blue;
}