<<<<<<< HEAD
.container {
=======
/* .container {
>>>>>>> dev
    background-color: white;
    height: 800px;
    /* position: relative;
    top: 50px;
<<<<<<< HEAD
    border-radius: 0.25rem; */
}

/* table tbody{
=======
    border-radius: 0.25rem; 
} 

 table tbody{
>>>>>>> dev
    row-gap: 2px;
} */